.btnWhatsapp {
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;

  

  .paneluser {
  
    display: flex;
    background-color: #eef0f4;
    align-items: center;
    width: 100vw;
    justify-content: center;
   

    -webkit-box-shadow: -1px 1px 15px 7px rgba(0,0,0,0.53);
  -moz-box-shadow: -1px 1px 15px 7px rgba(0,0,0,0.53);
  box-shadow: -1px 1px 15px 7px rgba(0,0,0,0.53);
    
  } 
}
